.form-background
{
    display: flex;
    margin: 20px;

    margin-left: 5%;
    margin-right: 5%;
}

.form-content
{
    width: 60%;
    margin: 20px;
}

.form-img
{
    width: 40%;
    height: auto;
    margin: 20px;

    text-align: center;
}

@media(max-width: 800px)
{
    .form-content
    {
        width: 100%;
    }
    .form-img
    {
        display: none;
    }
}